/* Navigation Bar */
.navbar-default{
	background:none;
	border:none;
	filter:none;
	box-shadow:none;
	
	background-color:black;
}
.navbar .nav > li > a{
	margin-left:15px;
	text-shadow:none;
}
.navbar .nav > li > a:hover{
	color:white;
}
.navbar .nav .active > a{
	color:white;
	background:none;
}
.navbar .nav .active > a:hover{
	background:none;
}

/* List */
.list{
	margin-left:10px;
}

/* Display List*/
.well{
	margin-left:330px;
	margin-right:10px;
}
.col-md-4{
	padding-top:20px;
}
.glyphicon{
	margin-left:80px;
}